/* ===== Reset ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== Container principal ===== */
.container {
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #0f172a, #1e293b);
}

/* ===== Título ===== */
.container h1 {
  color: #ffffff;      /* BRANCO */
  font-size: 3rem;     /* GRANDE */
  margin-bottom: 30px;
  text-align: center;
}

/* ===== Form ===== */
form {
  background: white;
  padding: 40px;
  width: 600px;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);

  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ===== Labels ===== */
label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: #334155;
}

/* ===== Inputs ===== */
input,
textarea,
select {
  margin-top: 5px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  font-size: 16px;
}

/* ===== Botão ===== */
button {
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #334155;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #5a5588;
}